src/flows/Create_Quick_Feed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>698</locationX>
        <locationY>392</locationY>
        <actionName>c:RedirectToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>RecordType</name>
        <choiceText>Breastmilk</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Feed</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>FoodType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Food_Type__c</picklistField>
        <picklistObject>Baby_Activity__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Quick Feed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quick Feed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_feed</name>
        <label>create feed</label>
        <locationX>454</locationX>
        <locationY>306</locationY>
        <assignRecordIdToReference>recordID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>redirect</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_ML__c</field>
            <value>
                <elementReference>Amount_ML</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time__c</field>
            <value>
                <elementReference>Date_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Food_Type__c</field>
            <value>
                <elementReference>FoodType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vitamin_D_Drops__c</field>
            <value>
                <elementReference>Vitamin_D_Drops</elementReference>
            </value>
        </inputAssignments>
        <object>Baby_Activity__c</object>
    </recordCreates>
    <screens>
        <name>New_Feeding_Record</name>
        <label>New Feeding Record</label>
        <locationX>237</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_feed</targetReference>
        </connector>
        <fields>
            <name>Date_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Date / Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Food_Type</name>
            <choiceReferences>FoodType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Food Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount_ML</name>
            <dataType>Number</dataType>
            <fieldText>Amount (ML)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Vitamin_D_Drops</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Vitamin D Drops</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>New_Feeding_Record</startElementReference>
    <status>Draft</status>
    <variables>
        <name>AmountML</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Amount_ML</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Baby_Activity__c</objectType>
    </variables>
</Flow>
